
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";


@media screen and (min-width: 360px) {
    /* General Reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* Body */
    body {
        font-family: "inter", sans-serif;
        color: #e4e4e4;
        line-height: 1.6;
        background: #000000;
        margin: 0;
    }

    /* Header */
    header {
        text-align: center;
        padding: 40px 0;
        background: linear-gradient(
            to bottom,
            rgba(102, 102, 102, 0.55),
            #000000
        );
        height: 100vh;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
   

  

    

    .contact-btn {
        @apply bg-[#FFFDD0] text-black border-0 py-2 px-4 mt-5 rounded-md cursor-pointer;

    }


    
    /* Footer */
    footer {
        text-align: center;
        margin-top: 40px;
    }

    footer h2 {
        font-size: 18px;
        color: #d6c79c;
    }

    footer p {
        margin-bottom: 20px;
    }

    .contact-info {
        font-size: 14px;
    }

    .contact-info p {
        margin: 5px 0;
    }

    .social-media a {
        margin: 0 10px;
        color: #d6c79c;
        text-decoration: none;
    }
}

